<div class="Contact">
  <div class="success__crumbs">
    <div class="container justify-content-center">
      <div class="success__crumbs-wrapper">
        <a [routerLink]="['/']" class="success__crumbs-link">
          Главная
        </a>
        &nbsp;/ &nbsp;Контакты
      </div>
    </div>
  </div>
  <div class="success__top">
    <div class="container">
      <div class="row row-cols-1 row-cols-md-2 justify-content-between align-items-center">
        <div class="success__top-title col-md-8">
          <h2 class="my_title">
            Контакты
          </h2>
        </div>
      </div>
    </div>
  </div>
  <div class="contacts">
    <div class="container">
      <p class="p-text">
        <strong>Адрес:</strong> г. Нижний Новгород, ул. Минина 28. <br>
        <strong>Тел.:</strong> +7(831) 436-63-07 <br>
        («Отдел делопроизводства и документооборота») <br>
        <strong>Факс:</strong> +7(831) 436-94-75 <br>
        <strong>E-mail:</strong> nntu@nntu.ru <br>
      </p>
    </div>
  </div>

  <div class ="map">
    <div class="container">
      <iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3Aa65760986c8ce67533841e497c7c64c9904fdcf48559566c5f8a42117ca127e8&amp;source=constructor" width="600" height="450" frameborder="0"></iframe>
    </div>
  </div>
</div>
